
<p id="welcome">Welcome to the Better Beer Bureau! Helping serve all of your beer drinking needs. Feel free to look around at our in stock beers. You can read reviews to find your next favorite beer, and leave reviews of your own to help other customers find their next favorite beer! Cheers!</p>


<p><%= link_to "Go to Full Beer List", products_path %></p>
<p><%= link_to "Add a New Beer", new_product_path %></p>