<h1>Beer List</h1>

<% if @products.any? %>
  <% @products.each do |product| %>
    <p><%= link_to product.name, product_path(product) %></p>
  <% end %>
<% else %>
  <p>There are currently no beers in stock. Follow the link below to add some to the list!</p>
<% end %>

<p><%= link_to "Add a Product", new_product_path %></p>